<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucc.com.safetyapplication">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".SMSManagement">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_manager_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartTrackerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_start_tracker_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.START_TRACKER_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmergencyModule"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StaffManagementActivity"
            android:label="@string/title_activity_staff_management"
            android:parentActivityName=".ManagerHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucc.com.safetyapplication.ManagerHome" />
        </activity>
        <activity
            android:name=".SafetyAlert"
            android:label="@string/title_activity_safety_alert"
            android:parentActivityName=".StartTrackerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkerSafetyAlerts"
            android:label="@string/title_activity_worker_safety_alerts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StaffStatus"
            android:label="@string/title_activity_staff_status"
            android:parentActivityName=".ManagerHome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucc.com.safetyapplication.ManagerHome" />
        </activity>
        <activity
            android:name=".testttt"
            android:label="@string/title_activity_testttt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StaffLookup"
            android:label="@string/title_activity_staff_lookup"
            android:parentActivityName=".StaffManagementActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucc.com.safetyapplication.StaffManagementActivity" />
        </activity>
    </application>

</manifest>
